.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Historical Fault Localization/nbproject/private/
/Historical Fault Localization/build/

# ignore temp directory
Historical\ Fault\ Localization/temp

# ignore the dummy app used for testing
# it is versioned controlled itself elsewhere
historical-fault-localization-target-ruby-app/*

# include library files in the repository
!Historical\ Fault\ Localization/lib/*.jar
!Historical\ Fault\ Localization/lib/*.war
!Historical\ Fault\ Localization/lib/*.ear
